---
layout: default
title: site.pkg_name
overview: true
---

<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first">{{ site.pkg_description }}</p>
    </div>
  </div>
</section>
<section class="features">
  <div class="grid">
    <div class="unit one-third">
      <h2>Why # 1</h2>
      <p>
        Reason to use {{ site.pkg_name }} <em># 1</em>.
      </p>
      <a href="/guides" class="">Link to more&nbsp;&rarr;</a>
    </div>
    <div class="unit one-third">
      <h2>Why # 1</h2>
      <p>
        Reason to use {{ site.pkg_name }} <em># 1</em>.
      </p>
      <a href="/guides" class="">Link to more&nbsp;&rarr;</a>
    </div>
    <div class="unit one-third">
      <h2>Why # 1</h2>
      <p>
        Reason to use {{ site.pkg_name }} <em># 1</em>.
      </p>
      <a href="/guides" class="">Link to more&nbsp;&rarr;</a>
    </div>
    <div class="clear"></div>
  </div>
</section>
<section class="quickstart">
  <div class="grid">
    <div class="unit golden-small center-on-mobiles">
      <h4>Get up and running <em>in&nbsp;seconds</em>.</h4>
    </div>
    <div class="unit golden-large code">
      <p class="title">Quick-start Instructions</p>
      <div class="shell">
        <p class="line">
          <span class="path">~</span>
          <span class="prompt">$</span>
          <span class="command">npm install {{ site.pkg_name }}</span>
        </p>
        <p class="line">
          <span class="output"># => example code</span>
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>
