<section class="code-doc ">
  <a name="<%-anchorId%>"></a>
  <%
  var kind = tsHelpers.getVariableType({kindString: kindString, flags: flags});
  %>
  <h3 class="code-ref"><%-kind%>: <%-name%>: <% include type %></h3>
  <% include comments %>
</section>
