<% include header %>
<div class="row">
  <div class="col-lg-3 column">
    <% include nav %>
  </div>
  <div class="col-lg-9 col-lg-offset-3 column">
    <div class="readability">
    <% docs.content.forEach(function (doc) { %>
      <%- doc.html %>
    <% }) %>
    </div>
  </div>
</div>
<% include footer %>
