<% include header %>
<div class="row">
  <div class="col-lg-4">
    <% include nav %>
  </div>
  <div class="col-lg-8">
    <div id="content">
      <% docs.content.forEach(function (doc) { %>
        <%- doc.html %>
      <% }) %>
    </div>
  </div>
</div>
<% include footer %>
