<% include header %>
<div class="row">
  <div class="col-lg-4 column">
    <% include nav %>
  </div>
  <div class="col-lg-8 col-lg-offset-4 column">
    <div id="content">
      <% docs.content.forEach(function (doc) { %>
        <%- doc.html %>
      <% }) %>
    </div>
  </div>
</div>
<% include footer %>
