        </div> <!-- /container -->

        <script src="js/vendor/jquery-1.10.1.min.js"><\/script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
