<ul class="nav nav-pills nav-stacked">
  <% docs.sections.forEach(function(section) { %>
    <li class="depth-<%= section.depth %>">
      <a href="#<%= section.anchor %>"><%= section.title %></a>
    </li>
  <% }) %>
</ul>
