<ul>
  <li class="{% if page.started %}current{% endif %}">
    <a href="{{ site.url }}/guides">Getting Started</a>
  </li>
  <li class="{% if page.guide %}current{% endif %}">
    <a href="{{ site.url }}/guides">Guides</a>
  </li>
  <li class="{% if page.example %}current{% endif %}">
    <a href="{{ site.url }}/examples">Examples</a>
  </li>
  <li class="{% if page.api %}current{% endif %}">
    <a href="{{ site.url }}/api">API</a>
  </li>
  <li class="{% if page.tools %}current{% endif %}">
    <a href="{{ site.tools }}/tools">{{ site.tools_lbl || 'Tools' }}</a>
  </li>
  <li class="">
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
</ul>
